[manifest]
version = "1.0.0"
priority = 0

# -----------------------------------
# Head of Medusa
# -----------------------------------

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
    self.children.front:draw_shader('dissolve')
'''
position = "at"
payload = '''
elseif self.ability.effect == 'Stone Card' and self.hnds_petrifying then
    self.children.front:draw_shader('dissolve')
'''
match_indent = true
times = 1

# -----------------------------------
# Stone Ocean
# -----------------------------------

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
check_and_set_high_score('furthest_ante', G.GAME.round_resets.ante)
'''
position = "after"
payload = '''
G.GAME.ante_stones_scored = 0
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/game_object.lua"]'''
pattern = '''
hand[self.key] = math.max(hand['s_'..self.key] + hand['l_'..self.key]*(hand.level - 1), 0)
'''
position = "at"
payload = '''
hand[self.key] = math.max(hand[self.key] + hand['l_'..self.key]*amount, 0)
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
local card = Card(0,0, 0.5*G.CARD_W, 0.5*G.CARD_H, G.P_CARDS[v[1]], G.P_CENTERS.c_base)
'''
position = "after"
payload = '''
if v.enhancement then
    card:set_ability(G.P_CENTERS[v.enhancement])
end
'''
match_indent = true
times = 1

# -----------------------------
# Public Nuisance 
# -----------------------------

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "G.STATE = G.STATES.NEW_ROUND"
position = "at"
payload = '''
if (#SMODS.find_card('j_hnds_public_nuisance') > 0) and 
G.GAME.current_round.hands_left >= 1 and #G.deck.cards > 0 then
    G.STATE = G.STATES.DRAW_TO_HAND
else
    G.STATE = G.STATES.NEW_ROUND
end
'''
match_indent = true

# -----------------------------
# DNA Tag
# -----------------------------

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'for _, v in ipairs(info_queue) do'
position = "before"
payload = '''
    if card and card.ability and card.ability.hnds_copies_to_create then
        local copies = card.ability.hnds_copies_to_create
        info_queue[#info_queue+1] = { set = "Other", key = "dna_tag_tooltip_"..(copies ~= 1 and "plural" or "singular"), vars = {copies}}
    end
'''
match_indent = true

# -----------------------------
# Circus Deck
# -----------------------------

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''
-- TARGET: add your own CardAreas for joker evaluation
'''
position = "after"
payload = '''
    if HNDS.DeckOrSleeve("circus") and G.hnds_circus_joker and G.hnds_circus_joker.cards then
        t[#t+1] = G.hnds_circus_joker
    end
'''
match_indent = true

# -----------------------------
# Cursed Sticker & Cursed Pack
# -----------------------------

[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = 'if self.area and self.ability.couponed and (self.area == G.shop_jokers or self.area == G.shop_booster) then self.cost = 0 end'
position = 'after'
payload = '''
    if self.area and (self.area == G.shop_jokers or self.area == G.shop_booster) then
        if self.cost < 0 then self.cost = 0 end
    end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = 'c:buy_from_shop()'
position = 'after'
payload = '''
    if trigger_curse and c and c.area and (c.area == G.shop_jokers or c.area == G.shop_booster) then
        trigger_curse(c, {buying_card = true, card = c})
        if G.jokers and G.jokers.cards then
            for _, j in ipairs(G.jokers.cards) do
                if j ~= c then
                    trigger_curse(j, {buying_card_other = true, card = c})
                end
            end
        end
    end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = 'G.FUNCS.can_skip_booster = function(e)'
position = 'after'
payload = '''
    if G and G.GAME and G.GAME.hnds_forced_pack_no_skip then
      e.config.colour = G.C.UI.BACKGROUND_INACTIVE
      e.config.button = nil
      return
    end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = 'G.FUNCS.skip_booster = function(e)'
position = 'after'
payload = '''
    if G and G.GAME and G.GAME.hnds_forced_pack_no_skip then
      return
    end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = 'G.FUNCS.end_consumeable = function(e, delayfac)'
position = 'after'
payload = '''
    if G and G.GAME and G.GAME.hnds_forced_pack_no_skip then
      G.GAME.hnds_forced_pack_no_skip = nil
    end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = "amount = amount - amount%(10^math.floor(math.log10(amount)-1))"
position = "after"
payload = "if G.GAME.modifiers.curse_blind_percent then amount = math.floor(amount * (1 + G.GAME.modifiers.curse_blind_percent)); amount = amount - amount%(10^math.floor(math.log10(amount)-1)) end"
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "self.added_to_deck = true"
position = "after"
payload = "if trigger_curse then trigger_curse(self, {add_to_deck = true}) end"
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "self.added_to_deck = false"
position = "after"
payload = "if trigger_curse then trigger_curse(self, {remove_from_deck = true}) end"
match_indent = true

[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = 'if self.shake_timer > 0 then'
position = 'before'
payload = '''
    if self.cursed_shake and self.area == G.pack_cards then
         if not self.juice or (self.juice.r < 0.1) then
            self:juice_up(0.05, 0.05)
        end
    end
'''
match_indent = true
